@font-face {
  font-family: 'Storno';
  src: url('../fonts/storno-regular-webfont.eot');
  src: url('../fonts/storno-regular-webfont.eot?iefix') format('eot'),
       url('../fonts/storno-regular-webfont.woff') format('woff'),
       url('../fonts/storno-regular-webfont.ttf') format('truetype'),
       url('../fonts/storno-regular-webfont.svg#webfontd1YVZ4AI') format('svg');
  font-weight: normal;
  font-style: normal;
}

